{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="..\..\static\main.css">

<center>
<div class="center">
    <h3>{{sub_round}}/17</h3>
    <h2>Welcome Team {{ name | title}}</h2>
    <h3>Working together as a class, please select which abusive behaviour is worse.</h3>
    <form method="POST">
          <label>
            <input type="radio" id="1" class="option-input radio" name="items" value="one" checked />
              <h3>{{ item_1 }}</h3>
          </label>
          <label>
            <input type="radio" id="2" class="option-input radio" name="items" value="two" checked />
             <h3>{{ item_2 }}</h3>
          </label>
        <br><br>
        <input class="submit" type="submit" name="submit_button" value="Submit">
    </form>
</div>
<!--<main>-->
<!--    <ul class="round round-1">-->
<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top winner">Lousville <span>79</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom ">NC A&T <span>48</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top winner">Colo St <span>84</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom ">Missouri <span>72</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top ">Oklahoma St <span>55</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom winner">Oregon <span>68</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top winner">Saint Louis <span>64</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom ">New Mexico St <span>44</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top winner">Memphis <span>54</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom ">St Mary's <span>52</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top winner">Mich St <span>65</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom ">Valparaiso <span>54</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->

<!--</ul>-->
<!--<ul class="round round-2">-->
<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top winner">Lousville <span>82</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom ">Colo St <span>56</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top winner">Oregon <span>74</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom ">Saint Louis <span>57</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top ">Memphis <span>48</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom winner">Mich St <span>70</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->

<!--</ul>-->
<!--<ul class="round round-3">-->
<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top winner">Lousville <span>77</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom ">Oregon <span>69</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->


<!--    <li class="spacer">&nbsp;</li>-->
<!--</ul>-->
<!--<ul class="round round-4">-->
<!--    <li class="spacer">&nbsp;</li>-->

<!--    <li class="game game-top winner">Lousville <span>85</span></li>-->
<!--    <li class="game game-spacer">&nbsp;</li>-->
<!--    <li class="game game-bottom ">Duke <span>63</span></li>-->

<!--    <li class="spacer">&nbsp;</li>-->
<!--</ul>-->
<!--</main>-->
</center>
{% endblock %}